/*!***************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/index.scss ***!
  \***************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap);
/*!*******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/index.scss (1) ***!
  \*******************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background: beige;
  font-family: "Roboto Mono";
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
}

#canvas {
  background: #FFF;
  flex-shrink: 0;
  background: white;
}

#canvas_template {
  position: absolute;
  top: 100px;
  left: 0;
  background: transparent;
  cursor: crosshair;
}

#aside {
  overflow: auto;
  width: 100%;
  padding-top: 10px;
  background: beige;
  height: 100px;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  z-index: 2;
}
#aside > :first-child {
  margin-left: 20px;
}

.toolbox__button {
  background: #FFF;
  padding: 5px;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px transparent;
  transition: 0.2s all;
}
.toolbox__button:hover {
  background: #ddd;
  transition: 0.2s all;
}
.toolbox__button:active {
  background: #bbb;
}
.toolbox__button--active {
  box-shadow: 0px 0px 0px 2px black;
  transition: 0.2s all;
}
.toolbox__button > svg {
  background: transparent;
  width: 24px;
  height: 24px;
}

#bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: beige;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  user-select: none;
}
#bottom-bar__size, #bottom-bar__cursor {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.2s all;
  padding: 3px;
  border-radius: 5px;
}
#bottom-bar__size {
  transition: 0.2s all;
  cursor: pointer;
}
#bottom-bar__size:hover {
  background: #ddd;
  transition: 0.2s all;
}
#bottom-bar__size:active {
  background: #bbb;
}

#modal-root {
  visibility: hidden;
  position: fixed;
}

.modal-root__close {
  transform: translate(5px, 33px);
  width: 24px;
  cursor: pointer;
}

.window-wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.custom-input {
  outline: none;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.custom-button {
  height: 40px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s all;
  border-radius: 5px;
}
.custom-button:hover {
  background: #ddd;
  transition: 0.2s all;
}
.custom-button:active {
  background: #bbb;
}

/*# sourceMappingURL=app.css.map*/