* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: beige;
}

.wrapper {
  display: flex;
  height: 100vh;
}

#canvas {
  max-width: 1140px;
  max-height: 600px;
  background: #FFF;
  flex-shrink: 0;
  background: white;
}

#canvas_template {
  position: absolute;
  top: 0;
  left: 0;
  width: 1140px;
  height: 600px;
  background: transparent;
  cursor: crosshair;
}

#aside {
  flex: 1;
}
