@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background: beige;
  font-family: "Roboto Mono";
}

.wrapper {
  display: flex;
  // min-height: calc(100vh - 100px - 50px);
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
}

#canvas {
  // min-width: 100vw;
  // min-height: 600px;
  background: #FFF;
  flex-shrink: 0;
  background: white;
}

#canvas_template {
  position: absolute;
  top: 100px;
  left: 0;
  // min-height: 600px;
  // min-width: 100vw;
  background: transparent;
  cursor: crosshair;
}

#aside {
  overflow: auto;
  width: 100%;
  padding-top: 10px;
  background: beige;
  height: 100px;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  z-index: 2;

  & > :first-child {
    margin-left: 20px;
  }
}

.toolbox {

  &__group {
    display: grid;
    grid-auto-flow: column;  
    grid-auto-columns: 35px;
    grid-template-rows: 35px 35px;
    gap: 10px;
  }

  &__button {
    background: #FFF;
    padding: 5px;
    min-width: 34px;
    min-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px transparent;
    transition: .2s all;

    &:hover {
      background: #ddd;
      transition: .2s all;
    }

    &:active {
      background: #bbb;
    }

    &--active {
      box-shadow: 0px 0px 0px 2px black;
      transition: .2s all;
    }

    & > svg {
      background: transparent;
      width: 24px;
      height: 24px;
    }
  }
}

#bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: beige;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  user-select: none;

  &__size, &__cursor {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: .2s all;
    padding: 3px;
    border-radius: 5px;
  }

  &__size {
    transition: .2s all;
    cursor: pointer;
    &:hover {
      background: #ddd;
      transition: .2s all;
    }

    &:active {
      background: #bbb;
    }
  }
}

#modal-root {
  visibility: hidden;
  position: fixed;
}

.modal-root__close {
  transform: translate(5px, 33px);
  width: 24px;
  cursor: pointer;
}

.window-wrapper {
  display: flex;
  flex-direction: column;
  // gap: 30px;
  padding: 40px;
}

.custom-input {
  outline: none;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.custom-button {
  height: 40px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  transition: .2s all;
  border-radius: 5px;

  &:hover {
    background: #ddd;
    transition: .2s all;
  }

  &:active {
    background: #bbb;
  }
}
