* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: beige;
}

.wrapper {
  display: flex;
  height: 100vh;
}

#canvas {
  flex: 1;
  background: #FFF;
}

#aside {
  width: 300px;
  flex-shrink: 0  ;
}
